#racePoint, #overRacePoint {
    display: inline-block;
}
.error {
    color: red;
    display: none;
}
.refresh {
    display: inline-block;
}
#otherRaceCorrection > div {
    display: none;

    p {
        margin: 0;
        display: inline-block;
        color: red;
    }
}
#characterPoint {
    .total {
        border: 1px solid red;
        padding: 0 15px;
    }

}