#raceRankPoint, #overRacePoint {
    display: inline-block;
}
.error {
    color: red;
    display: none;

    //01 特性值过低错误
    //02 特性值过高错误
    //04 属性点错误
    //11 选择技能错误
    //12 技能数值错误
    //14 技能点错误
}
.refresh {
    display: inline-block;
}
#otherRaceCorrection > div {
    display: none;

    p {
        margin: 0;
        display: inline-block;
        color: red;
    }
}
#characterPoint {
    .total {
        border: 1px solid red;
        padding: 0 15px;
    }
}
#skillRankPoint, #overskillPoint {
    display: inline-block;
}
#skillPoint {
    select {
        width: 100px;
    }
}
